.nav__wrap {
  $class: nav;
  @extend %height-primary;
  background-color: $secondary-color;
  width: 100%;

  .#{$class}__home {
    padding: 0 8px;
    background-color: $home-color;
  }

  .#{$class}__list {
    .#{$class}__item {
      display: inline-block;
      padding: 0 8px;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}