@include xl {
  .subslider, .slider {
    height: 548px !important;
  }
  .slider__item {
    width: 546px !important;
  }
}
@include lg {
  .subslider, .slider {
    height: 490px !important;
  }
  .slider__item {
    width: 456px !important;
  }
}
@include md {
  .subslider, .slider {
    height: 532px !important;
  }
  .slider__item {
    width: 520px !important;
  }
  .subslider__content {
    display: none;
  }
}
@include sm {
  .slider {
    height: 532px !important;
  }
  .slider__item {
    width: 522px !important;
  }
}
@include xs {
  .slider {
    display: none;
  }
}

.slider {
  $class: slider;
  width: 100%;
  height: 442px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;

  &__list {
    position: absolute;
    width: max-content;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    transition: 1s ease-in-out;

    .#{$class}__item {
      width: 416px;
      display: block;

      img {
        width: 100%;
      }

      .#{$class}__content {
        margin-right: 4px;
        height: 180px;
        background-color: $secondary-color;

        .#{$class}__title {
          @extend %slider-content;
          text-transform: uppercase;
          padding: 30px 10px 8px 8px;

          font: {
            size: 14px;
            weight: 600;
            family: $primary-font;
          }

          a {
            color: $text-color;
          }
        }

        .#{$class}__create-day {
          @extend %slider-content;
          font-size: 14px;
          font-family: $secondary-font;
          color: $text-color;
        }
      }
    }
  }

  .#{$class}__dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: $primary-color;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      width: 10px;
      height: 10px;
      background-color: #fff;
      margin: 10px;
      border-radius: 20px;
      @include transition(all, 0.5s, ease-in-out);
      cursor: pointer;

      &.active {
        width: 30px;

      }
    }
  }
}

.subslider {
  $class: subslider;
  overflow: hidden scroll;
  margin-left: 15px;
  height: 442px;

  &__list {
    &:first-child {
      padding-top: 0;
    }

    .#{$class}__item {
      display: flex;
      padding: 15px 0;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      img {
        width: 120px;
      }

      .#{$class}__content {
        margin-left: 20px;

        .#{$class}__title {
          text-transform: uppercase;
          line-height: 18px;
          margin-bottom: 8px;

          font: {
            family: $primary-font;
            size: 14px;
            weight: 600;
          }
        }

        .#{$class}__create-day {
          font: {
            family: $secondary-font;
            size: 14px;
          }

          span {
            color: $secondary-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}