.tabs {
  $class: tabs;
  margin-top: 20px;

  &__header {
    display: flex;

    .#{$class}__title {
      @extend %tab-content;
      cursor: pointer;
      user-select: none;
      display: flex;
      flex: 1;
      height: 36px;
      border: 1px solid $secondary-color;
      background-color: rgba($primary-color, 0);
      @include transition(all, 0.2s, ease-in-out);

      span {
        margin: auto;
      }

      &.active {
        cursor: default;
        color: $text-color;
        background-color: rgba($secondary-color, 1);
      }
    }
  }

  &__panes {
    padding: 8px;
    border: 1px solid $secondary-color;
    display: none;

    &.active {
      display: block;
    }
  }

  &__panes#chinh-phu-dien-tu {
    .#{$class}__item {
      border: 1px solid $secondary-color;
      border-radius: 4px;
      padding: 4px;
      margin: 6px 0;
      display: flex;
      cursor: pointer;
      @include transition(all, 0.2s, ease-in-out);

      &:hover {
        padding-left: 30px;
      }

      img {
        width: 36px;
      }

      .#{$class}__text {
        @extend %tab-content;
        padding-left: 6px;
      }

      &.#{$class}__item--bg-blue {
        @include background-gradient(#0963cc, #75b2f9);

        .#{$class}__text {
          color: $text-color;
        }
      }
    }
  }

  &__panes#lich-cong-tac {
    $subclass: scl;
    overflow: hidden scroll;

    .#{$subclass}__list {
      border: 1px solid $background-color;
      padding: 4px;

      &-title {
        height: 36px;
        line-height: 36px;
        background-color: $extra-color;
        border-radius: 2px;
        padding-left: 12px;
        color: $text-color;
        text-transform: uppercase;

        font: {
          size: 14px;
          family: $primary-font;
        }

        i {
          margin: 0 4px;
        }
      }

      .#{$subclass}__item {
        margin: 4px 0;
        background-color: $background-color;
        font-family: $secondary-font;
        border-radius: 4px;

        &-title {
          font-size: 16px;
          margin-top: 4px;
        }

        &-content {
          font-size: 15px;
        }
      }
    }
  }
}