@import '../base/variables&mixins';

.nav__wrap {
  @extend %height-primary;
  background-color: $secondary-color;
  width: 100%;

  .nav__home {
    padding: 0 8px;
    background-color: $home-color;
  }

  .nav__list {
    .nav__item {
      display: inline-block;
      padding: 0 8px;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}