<div class="footer__wrap">
  <span class="footer__content" id="don-vi-chu-quan">
    Đơn vị chủ quản: Trường THPT Nguyễn Văn Trỗi
  </span>
  <span class="footer__content" id="dia-chi">
    <i class="fa-solid fa-location-dot"></i>
    <span class="footer__content--bold">Địa chỉ:</span>
    <a href="https://www.google.com/maps/dir/12.2124229,109.1968294/google+map+nguy%E1%BB%85n+v%C4%83n+tr%E1%BB%97i+highschool+nha+trang/@12.2318577,109.1723016,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x317067840460dbdf:0x97212e29b8e4f03d!2m2!1d109.1947804!2d12.2525047?entry=ttu">32 Hàn Thuyên, Xương Huân, Nha Trang, Khánh Hòa</a>
  </span>
  <span class="footer__content" id="dien-thoai">
    <i class="fa-solid fa-phone fa-shake"></i>
    <span class="footer__content--bold">Điện thoại:</span><a style="display: none" href="#"> </a>
    - <i class="fa-solid fa-fax"></i>
    <span class="footer__content--bold">Fax:</span><a href="#"> </a>
  </span>
  <span class="footer__content" id="email">
    <i class="fa-regular fa-envelope"></i>
    <span class="footer__content--bold">Email:</span>
    <a href="mailto:c3nvtroi@khanhhoa.edu.vn">c3nvtroi@khanhhoa.edu.vn</a>
  </span>
  <span class="footer__content" id="copyright">
    <i class="fa-regular fa-copyright"></i>
    Bản quyền thuộc về nhà phát triển <span class="footer__content--bold"><a target="_blank"
        href="https://veduportal.vn">Edu Portal</a></span>
  </span>
  <span class="footer__content" id="powered">
    <i class="fa-regular fa-copyright"></i>
    Được chỉnh sửa và thiết kế bởi <span class="footer__content--bold"><a target="_blank"
        href="https://www.facebook.com/sunaookamishirokodev">Sunaookami Shiroko</a></span>
  </span>
</div>