<div class="row">
  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Văn bản mới">
    <section class="box box--red">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-bell"></i>
          Văn bản mới
        </span>
      </div>
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Quyết định về việc công bố thủ tục hành chính sửa đổi, bổ sung lĩnh vực thi, tuyển sinh thuộc phạm vi, chức năng quản lý của bộ GD&ĐT.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">CV 236 - Triển khai tài liệu hướng dẫn hoạt động giáo dục đạo đức, lối sống cho học sinh</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 3140/SGDĐT-KHTC - Ngày 16/12/2022 về V/v phương án thực hiện thu học phí của năm
            học 2022-2023
            trên địa bàn tỉnh Khánh Hòa.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Nghị quyết 118/2022/NQ-HĐND - Ngày 15/11/2022 quy định mức hỗ trợ học phí đối với trẻ em mầm non,
            học sinh
            THPT, học viên GDTX công lập năm học 2022-2023.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Nghị quyết 13/2022/NQ-HĐND - Quy định về mức thu học phí đối với cơ sở giáo dục nầm non, giáo dục
            phổ thông
            công lập năm học 2022-2023 đế năm học 2025-2026.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 2817/SGDĐT-TCCB - Ngày 14/11/2022 về việc triển khai Tháng hành động vì bình đẳng giới và
            phòng ngừa,
            ứng phó với bạo lực trên cơ sở giới năm 2022.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Nghị định 143/2020/NĐ-CP - Ngày 10/12/2020 sửa đổi về chính sách tinh giản biên chế.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Kế hoạch 770/KH-BGDĐT - Ngày 11/07/2022 thực hiện môn Lịch sử trong chương trình phổ thông
            2018.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 3280/BDGĐT-GDTrH - Ngày 27/08/2020 Hướng dẫn điều chỉnh nội dung dạy học cấp THCS,
            THPT.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn số: 3175/BGDĐT-GDTrH - Ngày 21/07/2022 Hướng dẫn đổi mới phương pháp dạy học và kiểm tra
            đánh giá môn
            ngữ văn.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn số: 4612/BGDĐT-GDTrH - Ngày 03/10/202 V/v hướng dẫn thực hiện chương trình giáo dục phổ
            thông hiện
            hành theo định hướng phát triển năng lực và phẩm chất học sinh từ năm học 2017-2018.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 5512/BGDĐT-GDTrH - Ngày 18/12/2020 V/v xây dựng và tổ chức thực hiện kế hoạch giáo dục của
            nhà
            trường.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Quyết định 2263/QĐ-UBND - Ngày 16/08/2022 ban hành khung kế hoạch thời gian năm học 2022-2023.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông tư 39/2021/TT-BGDDT - Ngày 30/12/2021 ban hành Danh mục thiết bị dạy học tối thiểu cấp
            THPT.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 1496/BGDĐT-GDTrH - Ngày 19/04/2022 về việc triển khai thực hiện chương trình giáo dục
            trung học
            2022-2023.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông tư 25/2020/TT-BGDĐT - Ngày 26/08/2020 quy định việc chọn sách giáo khoa trong cơ sở giáo dục
            phổ thông.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Quyết định 442/QĐ-BGDĐT - Ngày 28/01/2022 phê duyệt danh mục SGK lớp 10 sử dụng trong cơ sở giáo
            dục phổ
            thông.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Số 1496/BGDĐT-GDTrH - V/v triển khai thực hiện chương trình giáo dục trung học năm học
            2022-2023.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Quyết định 2447-BYT - Hướng dẫn sử dụng khẩu trang phòng chống dịch Coivd-19 tại nơi công cộng</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông tư 13/22/TT-BGDĐT - Ngày 03/8/2022 sửa đổi một số nội dung Chương trình phổ thông 2018.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông báo về việc phòng chống dịch bệnh viêm dường hô hấp cấp do chủng virus Corona gây ra.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Văn bản pháp quy 01.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Văn bản từ sở">
    <section class="box box--red">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-bell"></i>
          Văn bản từ sở
        </span>
      </div>
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Quyết định về việc công bố thủ tục hành chính sửa đổi, bổ sung lĩnh vực thi, tuyển sinh thuộc phạm vi, chức năng quản lý của Bộ GD&ĐT.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">CV 236 - Triển khai tài liệu Hướng dẫn hoạt động GD đạo đức, lối sống cho HS.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 3140/SGDĐT-KHTC - Ngày 16/12/2022 về V/v phương án thực hiện thu học phí của năm học 2022-2023 trên địa bàn tỉnh Khánh Hòa.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Công văn 2817/SGDĐT-TCCB - Ngày 14/11/2022 về việc triển khai Tháng hành động vì bình đẳng giới và phòng ngừa, ứng phó với bạo lực trên cơ sở giới năm 2022.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Ban giám hiệu">
    <section class="box box--blue">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-star"></i>
          Ban giám hiệu
        </span>
      </div>
      <div class="box__important">
        <img src="/assets/img/multi-box-img/danh-gia-nang-luc.png">
        <div class="box__important-text"><a href="#">Thông tin kỳ thi Đánh giá năng lực tại trường ĐHQG TP Hồ Chí Minh năm 2020</a></div>
      </div>
      <img src="/assets/img/bg-box.png">
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Phòng chống dịch bệnh viêm đường hô hấp cấp do chủng mới của virus Corona gây ra.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Cuộc thi giải pháp bảo vệ môi trường năm học 2019-2020.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Họp mặt Kỷ niệm ngày Nhà Giáo Việt Nam 20/11/2019.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Thông báo">
    <section class="box box--blue">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-star"></i>
          Thông báo
        </span>
      </div>
      <div class="box__important">
        <img src="/assets/img/multi-box-img/di-hoc-cuba.png">
        <div class="box__important-text"><a href="#">Thông báo tuyển sinh đi học tại Cuba năm 2023</a></div>
      </div>
      <img src="/assets/img/bg-box.png">
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông báo mời họp cha mẹ học sinh và học sinh hướng dẫn lựa chọn tổ hợp môn lớp 10 năm học 2023 - 2024.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thống kê số liệu thí sinh đăng ký dự tuyển vào lớp 10 THPT năm học 2023 - 2024.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Hoạt động">
    <section class="box box--blue">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-star"></i>
          Hoạt động
        </span>
      </div>
      <div class="box__important">
        <img src="/assets/img/multi-box-img/mung-dang-mung-xuan.png">
        <div class="box__important-text"><a href="#">Ngoại khóa mừng đàng - mừng xuân</a></div>
      </div>
      <img src="/assets/img/bg-box.png">
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Ngoại khóa rung chuông vàng năm học 2022 - 2023.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Ngoại khóa tuyên truyền phòng chống HIV/AIDS năm 2022.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Học sinh và an toàn trên mạng xã hội.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Tổ chuyên môn">
    <section class="box box--blue">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-star"></i>
          Tổ chuyên môn
        </span>
      </div>
      <div class="box__important">
        <img src="/assets/img/multi-box-img/giu-gin-ban-sac-van-hoa.png">
        <div class="box__important-text"><a href="#">Ngoại khóa thanh niên với việc giữ gìn bản sắc văn hóa dân tộc</a></div>
      </div>
      <img src="/assets/img/bg-box.png">
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Ý nghĩa bảng tuần hoàn nguyên tố hóa học.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Phân loại phản ứng hóa học lớp 10</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Chung kết hội khỏe Phù đổng cấp trường môn bóng đá.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Tin tức của trường">
    <section class="box box--blue">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-star"></i>
          Tin tức của trường
        </span>
      </div>
      <div class="box__important">
        <img src="/assets/img/multi-box-img/cac-to-hop-mon-tu-chon.png">
        <div class="box__important-text"><a href="#">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023 - 2024</a></div>
      </div>
      <img src="/assets/img/bg-box.png">
      <ul class="box__list">
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thông báo mời họp cha mẹ học sinh và học sinh hướng dẫn lựa chọn tổ hợp môn lớp 10 năm học 2023 - 2024.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Thống kê số liệu thí sinh đăng kí dự tuyển vào lớp 10 THPT năm học 2023 - 2024.</a>
        </li>
        <li class="box__item">
          <i class="fa-solid fa-caret-right"></i>
          <a href="#">Đề thi kham khảo kỳ thi tốt nghiệp THPT năm 2023.</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-12 col-xxl-6 col-xl-6 col-lg-12 col-sm-12" title="Tin tức từ sở">
    <section class="box box--blue">
      <div class="box__title">
        <span class="box__title-text">
          <i class="fa-regular fa-star"></i>
          Tin tức từ sở
        </span>
      </div>
      <div class="box__important">
        <img src="/assets/img/multi-box-img/tap-huan-coi-thi.png">
        <div class="box__important-text"><a href="#">Dự hội nghị tập huấn nghiệp vụ coi thi kỳ thi tuyển sinh 10 năm 2020</a></div>
      </div>
      <img src="/assets/img/bg-box.png">
      <ul class="box__list">
      </ul>
    </section>
  </div>
</div>