<div class="nav__wrap">
  <div class="nav__home">
    <i class="fa-solid fa-house fa-bounce"></i>
  </div>
  <ul class="nav__list">
    <li class="nav__item"><a target="_blank" href="">Giới thiệu</a></li>
    <li class="nav__item"><a target="_blank" href="">Thông báo</a></li>
    <li class="nav__item"><a target="_blank" href="">Hoạt động</a></li>
    <li class="nav__item"><a target="_blank" href="">Tin tức</a></li>
    <li class="nav__item"><a target="_blank" href="">Tài nguyên</a></li>
    <li class="nav__item"><a target="_blank" href="">Tra cứu</a></li>
    <li class="nav__item"><a target="_blank" href="">Liên hệ</a></li>
    <li class="nav__item"><a target="_blank" href="">Tài liệu học tập</a></li>
    <li class="nav__item"><a target="_blank" href="">Công khai</a></li>
    <li class="nav__item"><a target="_blank" href="">Tổ chuyên môn</a></li>
  </ul>
</div>