<div class="nav__wrap">
  <div class="nav__home">
    <a style="display: block" href="/"><i class="fa-solid fa-house fa-bounce"></i></a>
  </div>
  <ul class="nav__list">
    <li class="nav__item"><a href="/gioi-thieu">Giới thiệu</a></li>
    <li class="nav__item"><a href="/giao-vien">Giáo viên</a></li>
    <li class="nav__item"><a href="#">Thông báo</a></li>
    <li class="nav__item"><a href="#">Hoạt động</a></li>
    <li class="nav__item"><a href="#">Tin tức</a></li>
    <li class="nav__item"><a href="#">Tài nguyên</a></li>
    <li class="nav__item"><a href="#">Tra cứu</a></li>
    <li class="nav__item"><a href="#">Liên hệ</a></li>
    <li class="nav__item"><a href="#">Tài liệu học tập</a></li>
    <li class="nav__item"><a href="#">Công khai</a></li>
    <li class="nav__item"><a href="#">Tổ chuyên môn</a></li>
  </ul>
</div>