<div class="pa" title="Picture ablum">
  <div class="pa__header">
    <span class="pa__header-text">Thư viện ảnh</span>
  </div>
  <div class="pa__main">
    <ul class="pa__list" id="pa__list">
      <li class="pa__item">
        <img src="assets/img/picture-ablum/da-ngoai-con-se-tre-2015.png">
        <div class="pa__content">
          <a href="">Dã ngoại ngày 8-3-2015 tại Con Sẻ Tre</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/dai-hoi-lan-thu-xvi.png">
        <div class="pa__content">
          <a href="">Đại hội chi bộ nhiệm kì 22 - 25</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/don-mung-nam-moi.png">
        <div class="pa__content">
          <a href="">Hoạt động đón mừng năm mới 2016</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/hoi-nghi-can-bo-vien-chuc-2017-2018.png">
        <div class="pa__content">
          <a href="">Hội nghị cán bộ viên chức năm 2017 - 2018</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/hoi-nghi-can-bo-vien-chuc-2022-2023.png">
        <div class="pa__content">
          <a href="">Hội nghị cán bộ viên chức 2022 - 2023</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/le-khai-giang-2022-2023.png">
        <div class="pa__content">
          <a href="">Lễ khai giảng 2022 - 2023</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/mung-dang-mung-xuan-2015.png">
        <div class="pa__content">
          <a href="">Ngoại khóa mừng đảng mừng xuân 2015</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/ngay-nha-giao-viet-nam.png">
        <div class="pa__content">
          <a href="">Ngoại khóa ngày Nhà giáo Việt Nam</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/ngoai-khoa-phong-chong-tham-nhung.png">
        <div class="pa__content">
          <a href="">Ngoại khóa phòng chống tham nhũng</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/so-ket-hk1.png">
        <div class="pa__content">
          <a href="">Sơ kết học kì I</a>
        </div>
      </li>
      <li class="pa__item">
        <img src="assets/img/picture-ablum/thanh-nien-cac-dan-toc.png">
        <div class="pa__content">
          <a href="">Ngoại khóa thanh niên các dân tộc Việt Nam</a>
        </div>
      </li>
    </ul>
  </div>
</div>