<div class="col l-6">
  <div class="slider">
    <ul class="slider__list">
      <li class="slider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>


      <li class="slider__item">
        <img src="assets/img/notify-img/notify2.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify3.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify4.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify5.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify6.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify7.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify8.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify9.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify10.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify11.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/notify12.png">
        <div class="slider__content">
          <div class="slider__title">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="slider__dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<div class="col l-6">
  <div class="subslider">
    <ul class="subslider__list">
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>

    </ul>
  </div>
</div>