<div class="col-12 col-xl-6 col-lg-6 col-md-9 col-sm-12">
  <div class="slider">
    <ul class="slider__list">
      <li class="slider__item">
        <img src="assets/img/notify-img/to-hop-mon-tu-chon.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm 2023-2024</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/moi-hop-cha-me-hs.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Thông báo mời họp cha mẹ học sinh và học sinh hướng dẫn lựa chọn tổ hợp môn lớp 10 năm học 2023 - 2024</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/so-lieu-thi-sinh-dang-ki.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Thống kê số liệu thí sinh đăng kí dự tuyển vào lớp 10 THPT năm học 2023 - 2024</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>29/04/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/de-thi-kham-khao-tot-nghiep.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Đề thi kham khảo kì thi tốt nghiệp THPT năm 2023</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>01/03/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/ke-hoach-phuong-thuc.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Thông báo quyết định của UBND tỉnh phê duyệt kế hoạch tuyển sinh vào lớp 10 năm học 2023 - 2024</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>21/02/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/phong-chay-chua-chay.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Tuyên truyền phòng cháy chữa cháy - cứu nạn cứu hộ năm 2023</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>13/02/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/ket-luan-thanh-tra-hanh-chinh.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Kết luận về việc thanh tra hành chính trường THPT Nguyễn Văn Trỗi</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>09/02/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/nk-mung-dang-mung-xuan.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Ngoại khóa mừng đảng mừng xuân</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>07/02/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/le-so-ket-hk1.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Lễ sơ kết học kỳ 1 năm học 2022 - 2023</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>18/01/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/nk-rung-chuong-vang.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Ngoại khóa rung chuông vàng năm học 2022 - 2023</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>15/01/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/ky-thi-danh-gia-nang-luc.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Giới thiệu kì thi đánh giá năng lực quốc gia thành phố Hồ Chí Minh năm 2022</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>07/01/2023</span>
          </div>
        </div>
      </li>
      <li class="slider__item">
        <img src="assets/img/notify-img/lich-kiem-tra-hk1.png">
        <div class="slider__content">
          <div class="slider__title"><a href="#">Lịch kiểm tra cuối kì - học kì 1 năm học 2022 - 2023</a></div>
          <div class="slider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>02/12/2022</span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="slider__dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<div class="col-12 col-xl-6 col-lg-6 col-md-3 col-sm-12">
  <div class="subslider">
    <ul class="subslider__list">
      <li class="subslider__item">
        <img src="assets/img/notify-img/to-hop-mon-tu-chon.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Thông báo các tổ hợp môn tự chọn và chuyên đề học tập lớp 10 năm học 2023-2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/moi-hop-cha-me-hs.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Thông báo mời họp cha mẹ học sinh và học sinh hướng dẫn lựa chọn tổ hợp môn lớp 10 năm học 2023 - 2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>04/07/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/so-lieu-thi-sinh-dang-ki.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Thống kê số liệu thí sinh đăng kí dự tuyển vào lớp 10 </a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>29/04/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/de-thi-kham-khao-tot-nghiep.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Đề thi kham khảo kì thi tốt nghiệp THPT năm 2023</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>01/03/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/ke-hoach-phuong-thuc.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Thông báo quyết định của UBND tỉnh phê duyệt kế hoạch tuyển sinh vào lớp 10 năm học 2023 - 2024</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>21/02/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/phong-chay-chua-chay.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Tuyên truyền phòng cháy chữa cháy - cứu nạn cứu hộ năm 2023</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>13/02/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/ket-luan-thanh-tra-hanh-chinh.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Kết luận về việc thanh tra hành chính trường THPT Nguyễn Văn Trỗi</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>09/02/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/nk-mung-dang-mung-xuan.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Ngoại khóa mừng đảng - mừng xuân</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>07/02/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/le-so-ket-hk1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Lễ sơ kết học kì 1 năm học 2022 - 2023</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>18/01/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/nk-rung-chuong-vang.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Ngoại khóa rung chuông vàng năm học 2022 - 2023</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>15/01/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/ky-thi-danh-gia-nang-luc.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Giới thiệu kì thi đánh giá năng lực đại học quốc gia thành phố Hồ Chí Minh năm 2022</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>07/01/2023</span></div>
        </div>
      </li>
      <li class="subslider__item">
        <img src="assets/img/notify-img/lich-kiem-tra-hk1.png">
        <div class="subslider__content">
          <div class="subslider__title"><a href="#">Lịch kiểm tra cuối kì - học kì 1 năm học 2022 - 2023</a></div>
          <div class="subslider__create-day">
            <i class="fa-regular fa-calendar-days"></i>
            Ngày đăng: <span>02/12/2022</span></div>
        </div>
      </li>
    </ul>
  </div>
</div>