<div class="statis" title="statistical">
  <div class="statis__header">
    <span class="statis__header-text">Thống kê</span>
  </div>
  <div class="statis__content">
    <ul class="statis__list">
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/hom-nay.png">
          Hôm nay :
        </div>
        <div class="statis__number">61</div>
      </li>
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/hom-qua.png">
          Hôm qua :
        </div>
        <div class="statis__number">208</div>
      </li>
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/hom-qua.png">
          Tháng 08 :
        </div>
        <div class="statis__number">5.893</div>
      </li>
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/nam-nay.png">
          Tháng trước :
        </div>
        <div class="statis__number">6.400</div>
      </li>
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/nam-nay.png">
          Năm 2023 :
        </div>
        <div class="statis__number">52.978</div>
      </li>
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/nam-nay.png">
          Năm trước :
        </div>
        <div class="statis__number">1.743.363</div>
      </li>
      <li class="statis__item">
        <div class="statis__title">
          <img src="/assets/img/statis-img/tong-so.png">
          Tổng số :
        </div>
        <div class="statis__number">1.977.850</div>
      </li>
    </ul>
  </div>
</div>