<div class="tabs">
  <ul class="tabs__header">
    <li class="tabs__title active">
      <span>Chính phủ điện tử</span></li>
    <li class="tabs__title">
      <span>Lịch công tác</span></li>
  </ul>


  <ul class="tabs__panes active" id="chinh-phu-dien-tu">
    <li class="tabs__item">
      <img src="/assets/img/tabs-img/qly-vb.png">
      <div class="tabs__text">Hệ thống quản lý văn bản</div>
    </li>
    <li class="tabs__item tabs__item--bg-blue">
      <img src="/assets/img/tabs-img/mai-convu.png">
      <div class="tabs__text">Hệ thống email công vụ</div>
    </li>
    <li class="tabs__item">
      <img src="/assets/img/tabs-img/hop-tructuyen.png">
      <div class="tabs__text">Dịch vụ công trực tuyến</div>
    </li>
    <li class="tabs__item tabs__item--bg-blue">
      <img src="/assets/img/tabs-img/mai-convu.png">
      <div class="tabs__text">Hệ thống email giáo dục</div>
    </li>
    <li class="tabs__item">
      <img src="/assets/img/tabs-img/ht-quanlytruong.png">
      <div class="tabs__text">Hệ thống quản lý trường học</div>
    </li>
    <li class="tabs__item tabs__item--bg-blue">
      <img src="/assets/img/tabs-img/truong-hoc-ket-noi.png">
      <div class="tabs__text">Hệ thống trường học kết nối</div>
    </li>
    <li class="tabs__item">
      <img src="/assets/img/tabs-img/hoc-tap-truc-tuyen.png">
      <div class="tabs__text">K12Online</div>
    </li>
  </ul>

  <!-- Change block because has many element same -->
  <!-- NOTE: this is demo for the real user, shouldn't use it -->
  <div class="tabs__panes" id="lich-cong-tac">
    <ul class="scl__list" title="Schedule">
      <div class="scl__list-title">
        Tuần 1: 4/9<i class="fa-solid fa-arrow-right-long fa-fade"></i>10/9
      </div>
      <li class="scl__item">
        <div class="scl__item-title">Thứ 2 - Ngày 4/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet consectetur adipisicing
        </div>
      </li>
      <li class="scl__item">
        <div class="scl__item-title">Thứ 3 - Ngày 5/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet consectetur adipisicing
        </div>
      </li>
      <li class="scl__item">
        <div class="scl__item-title">Thứ 4 - Ngày 6/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet consectetur adipisicing
        </div>
      </li>
      <li class="scl__item">
        <div class="scl__item-title">Thứ 5 - Ngày 7/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet consectetur adipisicing
        </div>
      </li>
      <li class="scl__item">
        <div class="scl__item-title">Thứ 6 - Ngày 8/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet consectetur adipisicing
        </div>
      </li>
      <li class="scl__item">
        <div class="scl__item-title">Thứ 7 - Ngày 9/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet consectetur adipisicing
        </div>
      </li>
      <li class="scl__item">
        <div class="scl__item-title">Chủ nhật - Ngày 10/9</div>
        <div class="scl__item-content">
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing</br>
          - Lorem ipsum dolor amet, consectetur adipisicing
        </div>
      </li>
    </ul>
  </div>
</div>