<div class="va" title="Video ablum">
  <div class="va__header">
    <span class="va__header-text">Thư viện video</span>
  </div>
  <div class="va__main">
    <ul class="va__list" id="va__list">
      <li class="va__item">
        <img src="assets/img/video-ablum/anh-khai-giang.png">
        <div class="va__content">
          <a href="">Chào mừng năm học mới 2021 - 2022</a>
        </div>
      </li>
    </ul>
  </div>
</div>